*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}
body{
  background: linear-gradient(to top left,hsl(277, 87%, 47%),hsl(339, 46%, 48%),hsl(28, 91%, 50%),hsl(44.52,100%,49.41%));
  background-repeat: no-repeat;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5rem;
  padding: 3rem;
  gap: 1rem;
  justify-content: center;
  width: 40rem;
}
.start-and-count{
  display: flex;
  gap: 1rem;
  font-size:small;
  font-weight: bold;
  margin: auto;
  justify-content: flex-start;
  width: 35rem;
}
#start{
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight:300px;
  color: gray;
  background-color: rgb(44, 40, 40);
  border: transparent;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer
}
.section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  perspective: 800px;
  background: linear-gradient(to bottom right,hsl(277.05,79.91%,44.9%),hsl(339.34,48.03%,50.2%),hsl(27.92,96.84%,49.61%),hsl(44.52,100%,49.41%));
  border-radius: 10px 10px 10px 10px;
}
.card{
  display: relative;
  display: flex;
  width: 7rem;
  height: 7rem;
  transform-style: preserve-3d;
  transition: all 1s ;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}
.card-toggle{
  transform: rotateY(180deg);
}

.front, .back{
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid;
  border-radius: 10px 10px 10px 10px;
}
.back{
  background-color: rgb(44, 40, 40);
 backface-visibility:hidden;
}
img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  background-color: antiquewhite;
  border-radius: 10px 10px 10px 10px;
}
#final-message{
  text-align: center;
  color: bisque;
}

@media (max-width:600px) {
  body{
    overflow: hidden;
  }
  .container{
    width: 25rem;
    padding: 1rem;
  }
  .card{
    width: 4rem;
    height: 4rem;
  }
  .start-and-count{
    width:20rem;
  }
}